# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Byte-compiled / otimizações
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
env/
.venv/

# Configurações do editor
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp

# Pacotes
*.egg
*.egg-info/
dist/
build/

# Configurações do sistema operacional
.DS_Store
Thumbs.db
