html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: 'Inter', sans-serif;
}

/* Adicione esse estilo no seu CSS global ou no arquivo de estilos */
.card-login {
  min-height: 300px; /* Altura mínima do Card */
}
